<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Pontuações de Futebol Americano</title>
    <link rel="stylesheet" href="../static/scss/styles.css">
</head>
<body>
    <div class="container">
        <h1>Calculadora de Pontuações de Futebol Americano</h1>
        <form id="scoreForm">
            <div class="form-group">
                <label for="teamA">Placar Time A:</label>
                <input type="number" id="teamA" required>
            </div>
            <div class="form-group">
                <label for="teamB">Placar Time B:</label>
                <input type="number" id="teamB" required>
            </div>
            <button type="submit">Calcular Combinações</button>
        </form>
        <div id="result" class="result"></div>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
